:root {
  // colors
  --primary-color: #A7DAC1;
  --secondary-color: #9BCBB3;
  --forest-green: #183B3B;
  --charcoal: #202020;
  --sunset: #FC4D17;
  
  // typography
  --main-font: "indivisible", sans-serif;
  --support-font: "turnip", serif;
}

// add your custom styles here 👇